<!-- chat/main.html -->

{% extends 'chat/main.html' %} 

{% block content%}

<main class="layout layout--3">
  <div class="container">
 
           {% include 'chat/topics_component.html' %}


  



      
      {% include 'chat/feed_component.html'%}
    </div>

    <!-- Room List End -->

    <!-- Activities Start -->
    <!-- {% include 'chat/activity_component.html'%} -->
    <!-- {% include 'chat/topics_component.html' %} -->

    <!-- Activities End -->
  </div>
</main>
<!-- </td>
      </tr>
    </table> -->

{% endblock %}
