{% extends 'chat/main.html' %}

{% block content %}
<main class="update-account layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'home' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Edit your profile</h3>
                </div>
            </div>
            <div class="layout__body">
                <form class="form" action="" method="POST">
                  {% csrf_token %}

                  {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                  {% endfor %}
                  <a href="{% url 'change-password'%}" class="layout_body"> 
                    <table>
                        <tr>
                            <th>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="36" 
                                    height="36" 
                                    fill="currentColor" 
                                    class="bi bi-key-fill" 
                                    viewBox="0 0 16 16"
                                    style="margin-right: 10px;"> <!-- Add margin-right to create space -->
                                    <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                                </svg>
                            </th>
                            <th></th>
                            <th><h5>Change password</h5></th> <!-- Add margin-top to create space -->
                        </tr>
                    </table>
                    

                    

                   
                  </a>
                  <div class="form__action">
                      <a class="btn btn--dark" href="index.html">Cancel</a>
                      <button class="btn btn--main" type="submit">Update</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</main>
{% endblock content %}
